html,
body {
  height: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  background-color: #f1f1f1;
}
body {
  > div.app {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    > .content {
      @include box-sizing;
      display: flex;
      flex-flow: nowrap column;
      height: calc(100% - #{$top-height});
      padding-top: 1rem;
      overflow-y: auto;
    }
  }
}
