$color-primary: #000;
$color-secondary: #333;
$color-tertiary: #666;
$color-herbalife: #2ABF07;

// grey pallet
$color-black: #000;
$grey-darkest: #4b4a4a;
$grey-darker: #666;
$grey-dark: #999;
$grey-light: #c8c8cd;
$grey-lighter: #eaebeb;
$grey-lightest: #f2f2f2;
